{% extends 'base.html.twig' %}

{% block title %}¤ First Symfony ~ Créer un projets ¤{% endblock %}

{% block body %}
    {{ include('header/header.html.twig') }}
<div class="form-center" style="  text-align: center;">
    <h1 style="text-align: center;margin-top: 5px">Créer un projet</h1>
    <img alt="logo" src="{{ asset('assets/project.png') }}" class="teamsPicture">
    {{ include('project/_form.html.twig') }}
    <a href="{{ path('project_index') }}">Retour</a>
</div>
    {{ include('footer/footer.html.twig') }}
{% endblock %}
