{% extends 'base.html.twig' %}

{% block title %}¤ First Symfony ~ Editer un projet ¤{% endblock %}

{% block body %}
    {{ include('header/header.html.twig') }}
    <h1>Editer une team</h1>

    {{ include('team/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('team_index') }}">Retour</a>

    {{ include('team/_delete_form.html.twig') }}
    {{ include('footer/footer.html.twig') }}
{% endblock %}
